* {
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    max-width: 360px;
    justify-content: flex;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
}

.form-campo input {
    width: 100%;
    padding: 8px;
}
button {
    width: 107%;
    justify-content: flex;
    padding: 8px 0;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}